@charset "UTF-8";
:root {
  --main-bg: #FFFFFF;
  --main-text-color: #0b0b0b;
  --clr-light-gray: #F5F6F8;
  --base-font-size: 1.8rem;
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF0000;
  --cherry: #CC1414;
  --popcorn: #FFF2A6;
  --margarine: #F2D42D;
  --orange: #F1890E;
  --algae: #1BC669;
  --denim: #0B78E6;
  --vanadyl: #00A3E3;
  --united-nation: #5993EA;
  --ice: #CEE4FA;
  --alice-blue: #F2FBFF;
  --cereberal-grey: #CCCCCC;
  --little-dipper: #E4E6E9;
  --sefid-white: #FFF2F2;
  --dugong: #707070;
  --bauhause: #404040;
  --gap-general: 1em;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}
html:lang(ja) {
  font-family: "Noto Sans", "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
html:lang(zh-tw) {
  font-family: "Noto Sans", "微軟正黑體", "PingHei", "PMingLiU", STHeitiSC-Medium, sans-serif;
}
html:lang(ko) {
  font-family: "Noto Sans", "Noto Sans KR", "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Arial", sans-serif;
}
html:lang(vi), html:lang(vi) {
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--main-bg);
  font-size: var(--base-font-size);
  color: var(--main-text-color);
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: -0.5em;
}
.row .col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  padding: 0.5em;
}
.row .col.col_1 {
  flex-basis: 8.3333333333%;
}
.row .col.col_2 {
  flex-basis: 16.6666666667%;
}
.row .col.col_3 {
  flex-basis: 25%;
}
.row .col.col_4 {
  flex-basis: 33.3333333333%;
}
.row .col.col_5 {
  flex-basis: 41.6666666667%;
}
.row .col.col_6 {
  flex-basis: 50%;
}
.row .col.col_7 {
  flex-basis: 58.3333333333%;
}
.row .col.col_8 {
  flex-basis: 66.6666666667%;
}
.row .col.col_9 {
  flex-basis: 75%;
}
.row .col.col_10 {
  flex-basis: 83.3333333333%;
}
.row .col.col_11 {
  flex-basis: 91.6666666667%;
}
.row .col.col_12 {
  flex-basis: 100%;
}
.row .col--no-grow {
  flex-grow: 0;
}
.row .col--no-shrink {
  flex-shrink: 0;
}

.fs_1 {
  font-size: calc(var(--base-font-size) * 1);
}

.fs_2 {
  font-size: calc(var(--base-font-size) * 1.4814814815);
}

.fs_3 {
  font-size: calc(var(--base-font-size) * 2.2222222222);
}

.fs_4 {
  font-size: calc(var(--base-font-size) * 2.962962963);
}

.fs_5 {
  font-size: calc(var(--base-font-size) * 3.7037037037);
}

.fs_6 {
  font-size: calc(var(--base-font-size) * 4.4444444444);
}

.t_align_center {
  text-align: center;
}

.t_align_left {
  text-align: left;
}

.t_align_right {
  text-align: right;
}

.t_align_justify {
  text-align: justify;
}

.t_upper {
  text-transform: uppercase;
}

.t_lower {
  text-transform: lowercase;
}

.t_cap {
  text-transform: capitalize;
}

.p_0 {
  padding: 0em;
}

.p_l_0 {
  padding-left: 0em;
}

.p_r_0 {
  padding-right: 0em;
}

.p_t_0 {
  padding-top: 0em;
}

.p_b_0 {
  padding-bottom: 0em;
}

.p_in_0 {
  padding-inline: 0em;
}

.p_bl_0 {
  padding-block: 0em;
}

.m_0 {
  margin: 0em;
}

.m_l_0 {
  margin-left: 0em;
}

.m_r_0 {
  margin-right: 0em;
}

.m_t_0 {
  margin-top: 0em;
}

.m_b_0 {
  margin-bottom: 0em;
}

.m_in_0 {
  margin-inline: 0em;
}

.m_bl_0 {
  margin-block: 0em;
}

.p_1 {
  padding: 1em;
}

.p_l_1 {
  padding-left: 1em;
}

.p_r_1 {
  padding-right: 1em;
}

.p_t_1 {
  padding-top: 1em;
}

.p_b_1 {
  padding-bottom: 1em;
}

.p_in_1 {
  padding-inline: 1em;
}

.p_bl_1 {
  padding-block: 1em;
}

.m_1 {
  margin: 1em;
}

.m_l_1 {
  margin-left: 1em;
}

.m_r_1 {
  margin-right: 1em;
}

.m_t_1 {
  margin-top: 1em;
}

.m_b_1 {
  margin-bottom: 1em;
}

.m_in_1 {
  margin-inline: 1em;
}

.m_bl_1 {
  margin-block: 1em;
}

.p_2 {
  padding: 2em;
}

.p_l_2 {
  padding-left: 2em;
}

.p_r_2 {
  padding-right: 2em;
}

.p_t_2 {
  padding-top: 2em;
}

.p_b_2 {
  padding-bottom: 2em;
}

.p_in_2 {
  padding-inline: 2em;
}

.p_bl_2 {
  padding-block: 2em;
}

.m_2 {
  margin: 2em;
}

.m_l_2 {
  margin-left: 2em;
}

.m_r_2 {
  margin-right: 2em;
}

.m_t_2 {
  margin-top: 2em;
}

.m_b_2 {
  margin-bottom: 2em;
}

.m_in_2 {
  margin-inline: 2em;
}

.m_bl_2 {
  margin-block: 2em;
}

.p_3 {
  padding: 3em;
}

.p_l_3 {
  padding-left: 3em;
}

.p_r_3 {
  padding-right: 3em;
}

.p_t_3 {
  padding-top: 3em;
}

.p_b_3 {
  padding-bottom: 3em;
}

.p_in_3 {
  padding-inline: 3em;
}

.p_bl_3 {
  padding-block: 3em;
}

.m_3 {
  margin: 3em;
}

.m_l_3 {
  margin-left: 3em;
}

.m_r_3 {
  margin-right: 3em;
}

.m_t_3 {
  margin-top: 3em;
}

.m_b_3 {
  margin-bottom: 3em;
}

.m_in_3 {
  margin-inline: 3em;
}

.m_bl_3 {
  margin-block: 3em;
}

.p_4 {
  padding: 4em;
}

.p_l_4 {
  padding-left: 4em;
}

.p_r_4 {
  padding-right: 4em;
}

.p_t_4 {
  padding-top: 4em;
}

.p_b_4 {
  padding-bottom: 4em;
}

.p_in_4 {
  padding-inline: 4em;
}

.p_bl_4 {
  padding-block: 4em;
}

.m_4 {
  margin: 4em;
}

.m_l_4 {
  margin-left: 4em;
}

.m_r_4 {
  margin-right: 4em;
}

.m_t_4 {
  margin-top: 4em;
}

.m_b_4 {
  margin-bottom: 4em;
}

.m_in_4 {
  margin-inline: 4em;
}

.m_bl_4 {
  margin-block: 4em;
}

.p_5 {
  padding: 5em;
}

.p_l_5 {
  padding-left: 5em;
}

.p_r_5 {
  padding-right: 5em;
}

.p_t_5 {
  padding-top: 5em;
}

.p_b_5 {
  padding-bottom: 5em;
}

.p_in_5 {
  padding-inline: 5em;
}

.p_bl_5 {
  padding-block: 5em;
}

.m_5 {
  margin: 5em;
}

.m_l_5 {
  margin-left: 5em;
}

.m_r_5 {
  margin-right: 5em;
}

.m_t_5 {
  margin-top: 5em;
}

.m_b_5 {
  margin-bottom: 5em;
}

.m_in_5 {
  margin-inline: 5em;
}

.m_bl_5 {
  margin-block: 5em;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.webtext {
  margin: auto;
}

.btn {
  display: inline-block;
  min-width: 100px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}
.btn--fluid {
  width: 100%;
}
.btn__style {
  padding: 0.65em 1em;
  border-radius: 0.15em;
  background-color: var(--clr-light-gray);
  box-shadow: 0px 5px 16px -5px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease;
}
.btn__style--yellow {
  background: #F2D42D;
  color: #000;
}
.btn__style--yellow:hover, .btn__style--yellow:active, .btn__style--yellow:focus-within {
  background: #f9d717;
}
.btn__style--green {
  background: #03c9a9;
  color: #fff;
}
.btn__style--green:hover, .btn__style--green:active, .btn__style--green:focus-within {
  background: #00d7b4;
}
.btn__style--blue {
  background: #0bcafa;
  color: #fff;
}
.btn__style--blue:hover, .btn__style--blue:active, .btn__style--blue:focus-within {
  background: #20d2ff;
}
.btn__style--orange {
  background: #f1890e;
  color: #fff;
}
.btn__style--orange:hover, .btn__style--orange:active, .btn__style--orange:focus-within {
  background: #ff9b21;
}
.btn__style--navy {
  background: #082946;
  color: #fff;
}
.btn__style--navy:hover, .btn__style--navy:active, .btn__style--navy:focus-within {
  background: #074276;
}
.btn__style--red {
  background: #ed1515;
  color: #fff;
}
.btn__style--red:hover, .btn__style--red:active, .btn__style--red:focus-within {
  background: #ff1616;
}
.btn__style--magenta {
  background: #ff194a;
  color: #FFF;
}
.btn__style--magenta:hover, .btn__style--magenta:active, .btn__style--magenta:focus-within {
  background: #ff3661;
}
.btn:hover, .btn:active, .btn:focus-within {
  box-shadow: 0px 2px 6px -4.5px rgba(0, 0, 0, 0.75);
}/*# sourceMappingURL=main.css.map */