@use 'sass:math'
@use './root'
@use './variables' as v
@use './mixin' as mxn

*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: inherit
    font-size: inherit

html
    font-size: 62.5%

    &:lang(ja)
        font-family: "Noto Sans", "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
    &:lang(zh-tw)
        font-family: "Noto Sans", "微軟正黑體", "PingHei", 'PMingLiU', STHeitiSC-Medium , sans-serif
    &:lang(ko)
        font-family: "Noto Sans", "Noto Sans KR", "SF Pro KR", "SF Pro Text", "SF Pro Icons", "Arial",sans-serif
    &:lang(vi), &:lang(vi)
        font-family: "Open Sans", sans-serif

body
    background: v.$mainBackground
    font-size: v.$baseFontSize
    color: v.$textColorMain

.row
    $s: v.$gap
    display: flex
    flex-flow: row wrap
    align-items: flex-start
    justify-content: flex-start
    margin: -.5em
    .col
        flex-grow: 1
        flex-shrink: 1
        flex-basis: 1
        margin: .5em
        background: pink
        @include mxn.flexbox(12)
        &--no-grow
            flex-grow: 0
        &--no-shrink
            flex-shrink: 0

@include mxn.fontSize

@include mxn.text

@include mxn.spacer(5)

.container
    width: 100%
    max-width: 1440px
    margin: auto

.webtext
    margin: auto

.btn
    display: inline-block
    min-width: 100px
    border: none
    cursor: pointer
    text-decoration: none
    text-transform: capitalize
    font-weight: 600
    &__style
        padding: .65em 1em
        border-radius: .15em
        background-color: v.$lightGrayBackground
        box-shadow: 0px 5px 16px -5px rgba(0,0,0,0.4)
        transition: box-shadow .2s ease-in-out, background-color .2s ease
        
            

    &:hover, &:active, &:focus-within
        // background-color: red
        box-shadow: 0px 2px 6px -4.5px rgba(0,0,0,0.75)
