@mixin webtext
    .webtext
        background: red

@mixin spacer($limit)
    $space_type: (p: padding, m: margin)
    $sides: (l: left, r: right, t: top, b: bottom, in: inline, bl: block)
    @if($limit == null)
        $limit: 10

    @for $i from 0 through $limit
        @each $s_key, $s_type in $space_type
            @each $key, $side in $sides
                .#{$s_key}_#{$key}_#{$i}
                    #{$s_type}-#{$side}: #{$i}em

@mixin flexbox

@mixin colors
