@use 'sass:math'
    
@mixin webtext
    .webtext
        background: red

@mixin spacer($limit)
    $space_type: (p: padding, m: margin)
    $sides: (l: left, r: right, t: top, b: bottom, in: inline, bl: block)
    @if($limit == null)
        $limit: 10

    @for $i from 0 through $limit
        @each $s_key, $s_type in $space_type
            .#{$s_key}_#{$i}
                #{$s_type}: #{$i}em
            @each $key, $side in $sides
                .#{$s_key}_#{$key}_#{$i}
                    #{$s_type}-#{$side}: #{$i}em

@mixin flexbox($n)
    @for $i from 1 through $n
        &.col-#{$i}
            flex-basis: math.percentage(math.div($i, $n))

@mixin text
    $alignements: (c: center, l: left, r: right, j: justify)

@mixin colors
